body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid black;
    cursor: pointer;
    background-color: salmon;
}

.cell .taken {
    pointer-events: none;
}

#winner {
    font-size: 1.5rem;
    color: aquamarine;
}